#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = https://github.com/dotphiles/dotsync.git
[submodule "zsh/dotzsh"]
	path = zsh/dotzsh
	url = https://github.com/dotphiles/dotzsh.git
[submodule "vim/vim/bundle/knoxville"]
	path = vim/vim/bundle/knoxville
	url = https://rdown@bitbucket.org/rdown/knoxville-vim.git
[submodule "vim/vim/bundle/vdebug"]
	path = vim/vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "vim/vim/bundle/riv"]
	path = vim/vim/bundle/riv
	url = https://github.com/vim-scripts/riv.vim.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim/bundle/vim-colors-aloe"]
	path = vim/vim/bundle/vim-colors-aloe
	url = https://github.com/robbschiller/vim-colors-aloe.git
[submodule "vim/vim/bundle/molokai"]
	path = vim/vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/vim/bundle/vim-markdown"]
	path = vim/vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
